 <%= notice %>
 <div class="container">
   <div class="row">
    <div class="col-md-8 offset-md-4 mt-5 ">
    
  Welcome. This site is a site where everyone can share makeup and make everyone beautiful.
    
    </div>
  </div>
</div>

<style>
    
    .container{ background-image: url("<%= asset_path('IMG_4448.PNG') %>");　
      background-size:cover;
      background-position: center;
      background-color:rgba(255,255,255,0.5);
      background-blend-mode:lighten;
      width:780px;
      height:1080px;
      text-align: center;
      font-fimily: cursive;
      font-size:xxx-large;
    }
    
   
    
</style>