<div class="text-success"></p><%= notice %></div>
    <h1 class="mt-5 mb-5 text-center">タグ一覧</h1>
        <table class="table text-center">
            <tr>
                <th>作成日</th>
                <th>タグ名</th>
                <th></th>
            </tr>
          <% @tag_list.each do |list| %>
            <tr>
                <td><%= list.created_at %></td>
                <td><%= list.name %></td>
                <td><%= link_to "削除",  admin_tag_path(list.id), method: :delete, data: {confirm: "削除しますか？"}, class: "btn btn-danger" %></td>
            </tr>
          <% end %>
        </table>